<!DOCTYPE html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <script src="{{ url_for('static', filename='md5.js') }}"></script>
    <script type="text/javascript">
    function md5FormValue(form)
    {
        form.value = md5(form.value);
    }
    
    function checkFormMatch(form1, form2)
    {
        if (md5(form1.value) != md5(form2.value)){
            document.getElementById("error_2").innerHTML = "Error: Password forms don't match!";
            return false;
        }
        md5FormValue(form1);
        md5FormValue(form2);
        return true;
    }
    </script>
</head>

<body>

<p id="error_1" style="color:red">{{ error }}</p>

<form action="/login" method="POST" enctype="multipart/form-data" name="login_form"
    onsubmit="md5FormValue(document.login_form.password)">
    <label for="username">Name:</label>
        <input type="text" id="username" name="username" /><br />
    <label for="password">Password:</label>
        <input type="password" id="password" name="password" /><br />
    <input type="submit" value="submit" />
</form>

<br /><br />

<form action="/requestuser" method="POST" enctype="multipart/form-data" name="request_form"
    onsubmit="return checkFormMatch(document.request_form.req_password_1, document.request_form.req_password_2);">
    <p>Request access</p>
    <p id="error_2" style="color:red"></p>
    <label for="req_username">Name:</label>
        <input type="text" id="req_username" name="req_username" value="{{ req_user_prefill }}" /><br />
    <label for="req_password_1">Password:</label>
        <input type="password" id="req_password_1" name="req_password_1" /><br />
    <label for="req_password_2">Confirm password:</label>
        <input type="password" id="req_password_2" name="req_password_2" /><br />
    <input type="submit" value="Send Request" />
</form>

</body>
