<!DOCTYPE html>

<html>
<head>
    <title>ThermoPi Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="static/icons/favicon.png" />
    <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablestyle.css') }}" />
</head>

<body>

<p>Currently logged in as: {{ current_user }}</p>
<a href='/admin'>[Admin panel]</a>&nbsp;<a href="/logout">[Logout]</a>

<h1>ThermoPi Control Panel</h1>

<p style="color:red">{{ error_message }}</p>
<p style="color:green">{{ success_message }}</p>

<div id="temps" style="margin:0 0; max-width:480px">
    <div id="temp_inside" style="float:left; margin:0; width:50%">
        <h4>Inside temperature</h4>
        <p>{{ temp_inside }} °{{ units }}</p>
    </div>
    <div id="temp_outside" style="float:left; margin:0; width:50%">
        <h4>Outside temperature</h4>
        <p>{{ temp_outside }} °{{ units }}</p>
    </div>
</div>

<div id="status" style="clear: left">
    <h4>Status/Manual Toggle</h4>
    <form action='/setstate' method="GET" enctype="multipart/form-data" name="set_state">
        <label for="trigger_temp">Auto trigger temp:</label>
            <input id="trigger_temp" value="{{ trigger_temp  }}" name="trigger_temp" style="width: 18px" maxlength="2" />
        <img src="static/icons/minus.png" style="cursor: pointer" width=16 height=16 onclick="document.getElementById('trigger_temp').value = +document.getElementById('trigger_temp').value-1" />
        <img src="static/icons/plus.png" style="cursor: pointer" width=16 height=16 onclick="document.getElementById('trigger_temp').value = +document.getElementById('trigger_temp').value+1" />&nbsp;
        <br />
        {% set options = ['auto', 'on'] %}
        <label for="status_fan">Fan:</label>
        <select id="status_fan" name="status_fan">
        {% for option in options %}
            {% if status_fan == option %}
                <option selected="selected">{{ option }}</option>
            {% else %}
                <option>{{ option }}</option>
            {% endif %}
        {% endfor %}
        </select><br />
        {% set options = ['auto', 'on', 'off'] %}
        <label for="status_ac">AC:</label>
        <select id="status_ac" name="status_ac">
        {% for option in options %}
            {% if status_ac == option %}
                <option selected="selected">{{ option }}</option>
            {% else %}
                <option>{{ option }}</option>
            {% endif %}
        {% endfor %}
        </select><br />
        <label for="status_heat">Heat:</label>
        <select id="status_heat" name="status_heat">
        {% for option in options %}
            {% if status_heat == option %}
                <option selected="selected">{{ option }}</option>
            {% else %}
                <option>{{ option }}</option>
            {% endif %}
        {% endfor %}
        </select><br />
        <input type="submit" value="save" />
    </form>
</div>

<br /><br />

<h4>Events</h4>

<table class="list">
    <tr>
        <th>Days</th>
        <th>Time</th>
        <th>Device</th>
        <th>Set to</th>
        <th>Temp</th>
        <th></th>
    </tr>
{% for days, time, device, mode, temp in events %}
   <tr>
        <td>{{ days }}</td>
        <td>{{ time }}</td>
        <td>{{ device }}</td>
        <td>{{ mode }}</td>
        <td>{{ temp }} °{{ units }}</td>
        <td><a href="/deleteevent?index={{ loop.index0  }}"><img width=16 height=16
             src="static/icons/trash_bin.jpg" />
             </a></td>
   </tr>
{% endfor %}
</table>

<br />

<h4>Create Event</h4>
<form action="/newevent" method="GET" enctype="multipart/form-data"
onsubmit="return (checkFormValue(document.new_event.time) && checkFormValue(document.new_event.temp))" name="new_event">
    <input type="button" onclick="checkAll(document.new_event.days_select)" value="Check All" />
    <input type="button" onclick="uncheckAll(document.new_event.days_select)" value="Uncheck All" />
    <br />
    <input type="checkbox" id="sunday" name="days_select" value="sunday" /><label for="sunday">S</label>
    <input type="checkbox" id="monday" name="days_select" value="monday" /><label for="monday">M</label>
    <input type="checkbox" id="tuesday" name="days_select" value="tuesday" /><label for="tuesday">T</label>
    <input type="checkbox" id="wednesday" name="days_select" value="wednesday" /><label for="wednesday">W</label>
    <input type="checkbox" id="thursday" name="days_select" value="thursday" /><label for="thursday">Th</label>
    <input type="checkbox" id="friday" name="days_select" value="friday" /><label for="friday">F</label>
    <input type="checkbox" id="saturday" name="days_select" value="saturday" /><label for="saturday">Sa</label>
    <br />
    <label for="time">Time (Military time: 0000-2400):</label>
    <input type="text" style="width:40px;" name="time" id="time" maxlength="4" />
    <br />
    <input type="radio" id="fan" name="device_select" value="fan" checked /><label for="fan">Fan</label>
    <input type="radio" id="ac" name="device_select" value="ac" /><label for="ac">AC</label>
    <input type="radio" id="heat" name="device_select" value="heat" /><label for="heat">Heat</label>
    <br />
    <input type="radio" id="off" name="mode_select" value="off" required="required" /><label for="off">Off</label>
    <input type="radio" id="on" name="mode_select" value="on" /><label for="on">On</label>
    <input type="radio" id="auto" name="mode_select" value="auto" /><label for="auto">Auto:</label>
    <input type="text" id="temp" name="temp" maxlength="2" onfocus="document.new_event.auto.checked = true" style="width:18px" value="0"/>
    <br />

    <input type="submit" value="Create Event" />
</form>

</body>

</html>
