<!DOCTYPE html>

<html>
<head>
    <title>ThermoPi Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script type="text/javascript">
        function checkForm()
        {
            var value = +document.new_event.time.value;
            if (value >= 0 && value <= 2400 && document.new_event.time.value != ""){
                return true;
            } else{
                document.new_event.time.style["background-color"] = "white";
                setTimeout("document.new_event.time.style['background-color'] = 'red'", 150);
                return false;
            }
        }
    </script>
</head>

<body style="margin:0px 10%">

<h1>ThermoPi Control Panel</h1>

<p style="color:red">{{ error_message }}</p>
<p style="color:green">{{ success_message }}</p>

<h4>Current Temperature</h4>
<div id="temps" style="margin:0px 5%; width:40%">
    <div id="temp_inside" style="float:left; margin:0; width:50%">
        {{ temp_inside }}
    </div>
    <div id="temp_outside" style="float:left; margin:0; width:50%">
        {{ temp_outside }}
    </div>
</div>
<br />
<br />

<h4>Status/Manually Toggle</h4>
<input type="submit" value="Toggle Fan" style="width:90px" /> Fan: {{ fan_status }}
<br /><br />
<input type="submit" value="Toggle AC" style="width:90px" /> AC: {{ ac_status }}

<br /><br />

<h4>Events</h4>

<table>
    <tr>
        <th>Days</th>
        <th>Time</th>
        <th>Device</th>
        <th>Set to</th>
    </tr>
{% for event in events %}
    {% for days, time, device, mode in event %}
       <tr>
            <td>{{ days }}</td>
            <td>{{ time }}</td>
            <td>{{ device }}</td>
            <td>{{ mode }}</td>
            <td><input type="button" value="Delete"/></td>
       </tr>
    {% endfor %}
{% endfor %}
</table>

<br />

<h4>Create Event</h4>
<form action="/newevent/" method="POST" enctype="multipart/form-data"
onsubmit="return checkForm()" name="new_event">
    <input type="checkbox" id="sunday" name="days_select" /><label for="sunday">Su</label>
    <input type="checkbox" id="monday" name="days_select" /><label for="monday">M</label>
    <input type="checkbox" id="tuesday" name="days_select" /><label for="tuesday">T</label>
    <input type="checkbox" id="wednesday" name="days_select" /><label for="wednesday">W</label>
    <input type="checkbox" id="thursday" name="days_select" /><label for="thursday">Th</label>
    <input type="checkbox" id="friday" name="days_select" /><label for="friday">F</label>
    <input type="checkbox" id="saturday" name="days_select" /><label for="saturday">Sa</label>
    <br />
    <label for="time">Time (military: 0000-2400):</label>
    <input type="text" style="width:50px;" name="time" id="time" />
    <br />
    <input type="radio" id="fan" name="device_select" checked /><label for="fan">Fan</label>
    <input type="radio" id="ac" name="device_select" /><label for="ac">AC</label>
    <input type="radio" id="heat" name="device_select" /><label for="heat">Heat</label>
    <br />
    <input type="radio" id="off" name="mode_select" required="required" /><label for="off">Off</label>
    <input type="radio" id="on" name="mode_select" /><label for="on">On</label>
    <input type="radio" id="auto" name="mode_select" /><label for="auto">Auto</label>
    <br />

    <input type="submit" value="Submit" />
</form>

</body>

</html>
